.feedback {
    padding-bottom: 150px;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }


    &__quote {
        max-width: 368px;
        text-align: center;

        img {
            margin-bottom: 37px;
        }

        p {
            margin-bottom: 27px;
            font-size: 16px;
            opacity: 0.7;
        }

        h4 {
            font-size: 24px;
            font-weight: 500;
        }

        span {
            font-size: 12px;
            font-weight: 500;
            opacity: 0.7;
        }
    }
}