.welcome {
    margin-top: -110px;
    padding: 220px 0;
    background: url('../images/welcome-bg.jpg') no-repeat center;
    background-size: cover;

    &__wrapper {
        max-width: 555px;
        margin-bottom: 42px;
    }

    &__subtitle {
        margin-bottom: 7px;
        font-size: 14px;
        letter-spacing: 10%;
    }

    &__title {
        margin-bottom: 37px;
        font-size: 58px;
    }

    &__descr {
        font-size: 18px;
        opacity: 0.7;
    }

}